.latest-news-section {
	background-color: #F2F2F2;
}

.news-header {
	color: #323232;
}

.grid {
	overflow-x: hidden;
}

.latest-image-container {
	height: 300px;
	width: 100%;
	border-radius: 12px;
	overflow: hidden;

	@media (max-width:990px) {
		height: 200px;
	}
}

.latest-news-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.latest-image-container:hover img {
	transform: scale(1.1);
	transform-origin: 50% 50%;
}

.latest-news-createdby {
	font-weight: 600;
}

.latest-news-uploadedDate {
	font-weight: 400;
}

.latest-news-title {
	color: #323232;
}

.latest-news-desc {
	color: #808080;
	font-weight: 400;
}

.news-list-item {
	display: flex;
	flex-direction: column;

}


.thumb-container {
	border-radius: 12px;
	overflow: hidden;

	@media (max-width:990px) {
		height: 200px;
	}
}

.thumb-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
	transition: transform 0.3s ease-in-out;
}

.thumb-container:hover img {
	transform: scale(1.1);
	transform-origin: 50% 50%;
}


.news-createdby {
	font-weight: 600;
}

.news-uploadedDate {
	font-weight: 400;
}

.title-arrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.news-title {
	color: #323232;
}

.news-desc {
	color: #808080;
	font-weight: 400;
}



.arrow-icon {
	color: gray;
	font-size: 0.8rem;
}

.read-all-news-explore-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.read-all-news-explore {
	width: 300px;
	background-color: white;
}

.read-all-news-explore:hover {
	color: white;
	background-color: var(--blue-500);
	border: 2px solid var(--blue-500);
}

::ng-deep {
	.p-button {
		display: flex;
		justify-content: center;
	}

	.p-button-label {
		flex: none;
		margin-left: 10px;
	}


	.p-divider.p-divider-horizontal:before {
		border-top: 2px solid #e5e7eb !important;
	}

	.px-4 {
		@media (max-width:990px) {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
}