<h3 class="news-header">Latest News</h3>
<div class="grid">
  <div>
    <!-- First column content -->
    <div class="latest-image-container">
      <img [src]="newsItem.image" alt="News Image" class="latest-news-image" />
    </div>
    <h6 class="latest-news-createdby">
      {{ newsItem.createdBy
      }}<span class="latest-news-uploadedDate">
        - {{ newsItem.uploadedDate | date }}</span
      >
    </h6>
    <h3 class="latest-news-title">{{ newsItem.title }}</h3>
    <h4 class="latest-news-desc">{{ newsItem.shortDesc }}</h4>
  </div>

  <div  [@newsAnimation]="newsList.length">
    <!-- Second column content -->
    <div *ngFor="let item of newsList; let i = index" class="news-list-item">
      <div class="list-content">
        <div class="thumb-container">
          <img [src]="item.image" alt="Thumbnail" width="300px" height="125px" class="thumb-image" />
        </div>
        <div class="list-details">
          <div class="title-arrow">
            <h4 class="news-title">{{ item.title }}</h4>
            <i class="pi pi-chevron-right arrow-icon"></i>
          </div>
          <h5 class="news-desc">{{ item.shortDesc }}</h5>
          <h6 class="news-createdby">
            <span class="news-uploadedDate">
              {{ newsItem.uploadedDate | date }}</span
            >
          </h6>
        </div>
      </div>
      <p-divider
        *ngIf="i < newsList.length - 1"
        class="itemDivider"
      ></p-divider>
    </div>
  </div>
</div>
<div class="read-all-news-explore-div">
  <button
    pButton
    label="Read all News"
    icon="pi pi-arrow-right"
    class="p-button-outlined read-all-news-explore"
  ></button>
</div>
