<div class="latest-news-section p-5">
  <h3 class="news-header primary-new font-semibold">Latest News</h3>
  <div class="grid">
    <div class="col-12 xs:col-12 lg:col-6">
      <div class="latest-image-container my-3 cursor-pointer">
        <img
          [src]="newsList[0].image"
          alt="News Image"
          class="latest-news-image"
        />
      </div>
      <h6 class="latest-news-createdby pb-2 white">
        {{ newsList[0].createdBy
        }}<span class="latest-news-uploadedDate">
          - {{ newsList[0].uploadedDate | date }}</span
        >
      </h6>
      <h3 class="latest-news-title pb-2 font-bold">{{ newsList[0].title }}</h3>
      <h4 class="latest-news-desc pb-2">{{ newsList[0].shortDesc }}</h4>
    </div>
    <div
      class="col-12 xs:col-12 lg:col-6"
      id="news-scroll-element"
      [@newsAnimation]="isVisible ? 'start' : 'stop'"
    >
      <div
        *ngFor="let item of newsList| slice:1; let i = index"
        class="news-list-item my-3"
      >
        <div class="grid list-content p-2">
          <div class="col-12 xs:col-12 sm:col-12 lg:col-4 p-0 thumb-container cursor-pointer">
            <img [src]="item.image" alt="Thumbnail" class="thumb-image" />
          </div>
          <div class="col-12 xs:col-12 sm:col-12 lg:col-8 px-4 list-details white">
            <h6 class="news-createdby pb-2">
              {{ item.createdBy }}-
              <span class="news-uploadedDate">
                {{ item.uploadedDate | date }}</span
              >
            </h6>
            <div class="title-arrow pb-2">
              <h3 class="news-title font-bold">{{ item.title }}</h3>
              <i class="pi pi-chevron-right arrow-icon primary-new"></i>
            </div>
            <h4 class="news-desc pb-2">{{ item.shortDesc }}</h4>
          </div>
        </div>
        <p-divider
          *ngIf="i < newsList.length - 1"
          class="itemDivider"
        ></p-divider>
      </div>
    </div>
  </div>
  <!-- <div class="read-all-news-explore-div">
    <button
      pButton
      label="Read all News"
      icon="pi pi-arrow-right"
      class="p-button-outlined read-all-news-explore p-2"
    ></button>
  </div> -->
  <div class="flex flex-row align-items-center gap-3 pt-3 justify-content-center see-more">
    <p class="white font-bold">See More News</p>
    <p-button icon="pi pi-arrow-right" size="small" [rounded]="true" [outlined]="true"
        class="outlined" />
  </div>
</div>
