<h3 class="events-header p-5 primary-new font-semibold">Latest Events</h3>
<p-timeline id="event-scroll-element" [value]="events" [align]="timelineAlign" class="customized-timeline" [@timelineAnimation]="isVisible ? 'start' : 'stop'">
  <ng-template pTemplate="marker" let-event>
    <span
      class="event-icon-container"
      [style]="{
        'background-color': event.color,
        border: '1px solid ' + event.color,
        'border-radius': '50%'
      }"
    >
      <i [class]="event.icon" [style]="{ color: 'white', padding: '10px' }"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <div class="event-card">
      <!-- Event Image -->
      <div class="event-image-container cursor-pointer">
      <img
        *ngIf="event.image"
        [src]="event.image"
        [alt]="event.name"
        class="event-image"
      />
      </div>
      <div class="event-details">
        <!-- Date, Time, and Location -->
        <div class="event-details-icons">
          <div>
            <span class="event-details-span"
              ><i class="pi pi-calendar event-details-icon"></i
              >{{ event.date }}</span
            >
          </div>
          <div>
            <span class="event-details-span"
              ><i class="pi pi-clock event-details-icon"></i
              >{{ event.duration }}</span
            >
          </div>
          <div>
            <span class="event-details-span"
              ><i class="pi pi-map-marker event-details-icon"></i
              >{{ event.location }}</span
            >
          </div>
        </div>
        <h3 class="event-name pt-2">{{ event.name }}</h3>
        <!-- Short Description -->
        <p class="event-desc">
          {{ event.desc }}
        </p>
        
        <!-- View Event Button -->
        <div class="view-event-container py-2">
          <span class="view-event-span"
            >View Event<i
              class="pi pi-chevron-right arrow-icon view-event-icon"
            ></i
          ></span>
        </div>
      </div>
    </div>
  </ng-template>
</p-timeline>
