<div>
    <div class="header">
        <p-tabView>
            <p-tabPanel header="Home">

                <app-landing-page></app-landing-page>

            </p-tabPanel>


            <p-tabPanel header="Hero Stories">
            </p-tabPanel>
            <p-tabPanel header="News Bites">
            </p-tabPanel>
            <p-tabPanel header="Tech Corner">
            </p-tabPanel>
            <p-tabPanel header="Market Intelligence">
            </p-tabPanel>
            <p-tabPanel header="Digital Portfolio">
            </p-tabPanel>
            <p-tabPanel header="Digital Events">
            </p-tabPanel>
        </p-tabView>
    </div>
</div>