<div class="header">
    <div class="video-background">
        <video autoplay muted loop playsinline preload="auto">
            <source src="assets/video5.mp4" type="video/mp4">
        </video>
        <div class="content">
            <nav class="navbar" [ngClass]="navbarSticky ? 'stickynew' : ''">
                <ul class="zoomin animation-duration-1000 animation-delay-200">
                    <li><a href="#home" class="yellow">Home</a></li>
                    <li><a href="#about">Hero Stories</a></li>
                    <li><a href="#contact">News Bites</a></li>
                    <li><a href="#services">Tech Corner</a></li>
                    <li><a href="#contact">Market Intelligence</a></li>
                    <li><a href="#home">Digital Portfolio</a></li>
                    <li><a href="#about">Digital Events</a></li>
                </ul>
                <div class="logo scalein animation-duration-1000 animation-delay-200">
                    <div class="title-1 yellow">Digiverse</div>
                    <div class="title-2 white moveText">by Aramco</div>
                </div>
            </nav>

            <div class="sub-content grid zoomindown animation-duration-1000 animation-delay-200">
                <div class="col-6">
                    <span class="yellow">Success Story</span>
                    <h1 class="white pt-3 letter-space-4">HR Service On The Go</h1>
                    <div class="white flex flex-row gap-4 pt-2 letter-space-2" style="text-decoration: underline;">
                        <p>Technology Track</p>
                        <p>Business Domain</p>
                    </div>
                    <p class="white pt-3 line-height-3 letter-space-2" style="width: 50%">At Saudi Aramco, you must be physically present at a work
                        station or the office to access HR
                        services. This has complete accessibility and engagement with HR services.</p>
                    <div class="flex flex-row align-items-center gap-4 pt-3">
                        <p class="white">Read More</p>
                        <p-button icon="pi pi-arrow-right" [rounded]="true" class="yellow-fade" />
                    </div>
                </div>
                <div class="col-6 carousal-New">
                    <p-carousel [value]="images" [numVisible]="2" [showIndicators]="false">
                        <ng-template pTemplate="item" let-image>
                            <div class="item">
                                <div class="background-image" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                </div>
                                <div class="content flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="yellow">HR Story</h4>
                                        <p class="white pt-3">We can build a chatbot that handles sessions and processes
                                            user messages through a streaming response system.</p>
                                    </div>
                                    <div class="flex flex-row align-items-center">
                                        <p class="white">Explore</p>
                                        <i class="pi pi-angle-right yellow"></i>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </p-carousel>
                </div>

            </div>
        </div>
    </div>

    <div class="landing">
        <app-landing-page></app-landing-page>
    </div>

</div>