<div class="overview">
    <div class="video-background">
        <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true">
            <source src="https://res.cloudinary.com/dpcikzup8/video/upload/v1726845300/video1_hh21si.mp4"
                type="video/mp4" />
        </video>
        <div class="content">
            <nav class="navbar" [ngClass]="navbarSticky ? 'stickynew' : ''">
                <ul class="zoomin animation-duration-1000 animation-delay-400">
                    <li><a href="#" class="primary-new">Home</a></li>
                    <li><a href="#">Hero Stories</a></li>
                    <li><a href="#">News Bites</a></li>
                    <li><a href="#">Tech Corner</a></li>
                    <li><a href="#">Market Intelligence</a></li>
                    <li><a href="#">Digital Portfolio</a></li>
                    <li><a href="#">Digital Events</a></li>
                </ul>
                <div class="logo scalein animation-duration-1000 animation-delay-400">
                    <div class="title-1 primary-new">Digiverse</div>
                    <div class="title-2 white moveText">by Aramco</div>
                </div>
            </nav>

            <div class="sub-content grid zoomindown animation-duration-1000 animation-delay-400">
                <div class="col-6">
                    <span class="primary-new font-semibold">Success Story</span>
                    <h1 class="white pt-3 letter-space-4">HR Service On The Go</h1>
                    <div class="white flex flex-row gap-4 pt-2 letter-space-2" style="text-decoration: underline;">
                        <p>Technology Track</p>
                        <p>Business Domain</p>
                    </div>
                    <p class="white pt-3 line-height-3" style="width: 75%">At Saudi Aramco, you must be
                        physically present at a work
                        station or the office to access HR
                        services. This has complete accessibility and engagement with HR services.</p>
                    <div class="flex flex-row align-items-center gap-4 pt-3">
                        <p class="white">Read More</p>
                        <p-button icon="pi pi-arrow-right" size="small" [rounded]="true" [outlined]="true"
                            class="outlined" />
                    </div>
                </div>
                <div class="col-6 carousal-New">
                    <p-carousel [value]="images" [numVisible]="2" [showIndicators]="false" [circular]="true">
                        <ng-template pTemplate="item" let-image>
                            <div class="item">
                                <div class="background-image" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                </div>
                                <div class="content flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="primary-new font-semibold">Hero Story</h4>
                                        <p class="white pt-3">IT heroes are seem to single-handedly save enterprises day
                                            after day. From
                                            mitigating security breaches and resolving complex software problems, IT
                                            heroes perform under immense
                                            pressure</p>
                                    </div>
                                    <div class="flex flex-row align-items-center">
                                        <p class="white pr-2">Explore</p>
                                        <i class="pi pi-angle-double-right primary-new"></i>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </p-carousel>
                </div>

            </div>
        </div>
    </div>
</div>