::ng-deep {
    .overview {

        .video-background {
            position: relative;
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }

        .video-background video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover;
        }

        .video-background .content {
            position: relative;
            z-index: 1;

            .stickynew {
                background: rgba(22, 50, 91, 1);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            }

            /* Navigation Bar */
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: background-color 0.3s ease;
                position: fixed;
                top: 0;
                z-index: 999;
                width: 100%;


                ul {
                    list-style: none;
                    display: flex;
                    padding: 0;
                    margin: 24px;
                    font-weight: 600;
                }

                ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    padding: 10px 15px;
                    display: block;
                    transition: transform 0.3s ease, color 0.3s ease;
                }

                ul li a:hover {
                    transform: scale(1.1);
                    color: var(--blue-500);
                    text-decoration: underline;
                }


                .logo {
                    margin: 1% 2%;

                    .title-1 {
                        font-weight: 600;
                        font-size: 24px;
                    }

                    .title-2 {
                        font-weight: 500;
                        font-size: 14px;
                        animation: moveText 5s linear infinite;
                    }

                    @keyframes moveText {
                        0% {
                            transform: translateX(0%);
                        }

                        50% {
                            transform: translateX(30%);
                        }

                        100% {
                            transform: translateX(0%);
                        }
                    }
                }
            }

            .sub-content {
                margin: 10% 0px 10% 5%;

                .carousal-New {
                    position: relative;
                    top: 8em;
                }

                .item {
                    position: relative;
                    height: 300px;
                    overflow: hidden;
                    margin: 2%;
                    border-radius: 8px;
                    cursor: pointer;
                    font-family: "Ghawar", sans-serif !important;
                }

                /* Background image container */
                .background-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: transform 0.5s ease;
                    z-index: -1;
                }

                /* Content on top of the background */
                .content {
                    position: relative;
                    z-index: 1;
                    padding: 8px;
                    height: 100%
                }

                /* Zoom effect for the background image */
                .item:hover .background-image {
                    transform: scale(1.2);
                }

            }


        }

        //common
        .letter-space-4 {
            letter-spacing: 4px;
        }

        .letter-space-2 {
            letter-spacing: 2px;
        }

        //pre defined
        .p-card {
            background: none;
        }

        .p-button{
            border: 2px solid;
            background-color: white;
        }
        
        .p-button:hover {
            color: white;
            background-color: var(--blue-500);
            border: 2px solid var(--blue-500);
        }

    }
}