/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Ghawar';
    src: url('assets/fonts/Ghawar_1.311-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ghawar';
    src: url('assets/fonts/Ghawar_1.311-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ghawar';
    src: url('assets/fonts/Ghawar_1.311-Regular Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

:root{
    --font-family: "Ghawar", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

//* common css *//
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}


//* ---- *//